#game4Container {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 100%;
    flex-direction: column;
  }

  #touchZone {
    width: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    transition: 200ms;
  }
  
  .dark #touchZone {
    filter: brightness(0.8);
  }

#touchSpot {
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: rgb(240, 240, 240) solid 5px;
}

.dark #touchSpot {
    border: #242424 solid 5px;
}

#touchSpot .active {
  width: 200px;
}


  #ruleText {
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 1.3rem;
    align-items: center;
    align-self: center;
    width: max-content;
    padding: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
  }

  #clickTextGame4 {
    margin-top: 5.4rem;
    align-items: center;
    align-self: center;
    transition: 0.1s;
    line-height: 1.2;
    font-size: 1.1rem;
  }