#game5Container {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 100%;
  flex-direction: column;
}

#game5bg {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 100%;
  flex-direction: column;
}

#permissionContainer {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 100%;
  flex-direction: column;
}

/* bottle */
#bottleShake {
  position: absolute;
  display: block;
  align-self: center;
  justify-self: center;
  height: 90dvh;
  padding: 1rem;
  bottom: -10rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dark #bottleShake {
  filter: invert(1);
}

#permissionBtn {
  position: absolute;
  align-self: center;
  justify-self: center;
  outline: none;
  box-shadow: none;
  appearance: none;
  top: 8rem;
  cursor: pointer;
  height: 3rem;
  font-size: 1rem;
  background: none;
  color: black;
  border: none;
  border-radius: 5px;
  border: 2px black solid;
  padding: 10px;
}

.dark #permissionBtn {
  color: rgba(255, 255, 255, 0.9);
  border: 2px rgba(255, 255, 255, 0.9) solid;
}

#shakeData {
  position: absolute;
  top: 4.5rem;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  justify-self: center;
}

@keyframes shake {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes shakeSlowDown {
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#clickTextGame5 {
  position: absolute;
  top: 0;
  margin-top: 5.4rem;
  align-items: center;
  align-self: center;
  transition: 0.1s;
  line-height: 1.2;
  font-size: 1.1rem;
}

/* Game end */

/* Game end menu */
#game5End {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 800;
  gap: 1rem;
  background-color: white;
  cursor: pointer;
}

.dark #game5End {
  background-color: black;
}


#game5End p {
  font-size: 1rem;
  color: black;
  display: none;
}

.dark #game5End p {
  color: white;
}

#game5Pop {
  padding-top: 1rem;
  position: absolute;
  /* max-width: 35rem; */
  z-index: 500;
}

#game5Pop img {
  width: 95vw;
  width: 95dvw;
  display: none;
}

#game5Pop .light-img {
  display: block;
}

#game5Pop .dark-img {
  display: none;
}
.dark #game5Pop .light-img {
  display: none;
}
.dark #game5Pop .dark-img {
  display: block;
}

#spacing {
  flex-grow: 1;
}
