#game1 {
  max-height: 100vh;
  max-height: 100dvh;
  max-width: 100vw;
  max-width: 100dvw;
  overflow: hidden;
  overscroll-behavior: none;
}

.game1Container {
  display: flex;
  justify-content: center;
}

#game1Buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  width: 100%;
  height: 100%;

  place-items: center; /* Centers the grid */
  overflow: hidden;

  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 2rem;
  padding-bottom: 0;

  position: absolute;
  top: 0;
}

.game1Button {
  all: unset; /* Removes all default button styles */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  
  min-width: 0;
  min-height: 0;

  background: url("../g_assets/b_untapped.png") no-repeat center center;
  background-size: contain;
  background-position: center;

  cursor: pointer;
}

.game1Button.clicked {
  background-image: url("../g_assets/b_tapped.png");
}

.game1End button:hover,
.game1End button:active,
.game1Button:hover {
  filter: brightness(0.85);
}

/* .footer {
  display: none;
} */

.game1End {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 9999;
  gap: 1rem;
}

.dark .game1End {
  background-color: rgb(0, 0, 0);
}

.game1End h2 {
  margin: 0;
  font-size: 2.5rem;
}

.game1End p {
  font-size: 1.5rem;
}

.game1End button {
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
  border: white solid 3px;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s;
}

.dark .game1End button {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 600px) {
  .game1End button:hover,
  .game1Button:hover,
  .game1Button:active {
    filter: brightness(1);
  }
}

@media only screen and (max-height: 500px) {
  .game1Button {
    width: 4rem;
    height: 4rem;
  }

  #game1Buttons {
    margin-top: 1rem;
    height: 95vh;
    height: 95dvh;
    
  }
  
}

@media (min-width: 1000px) {
 #game1Buttons {
    width: 70rem;
  }

  .game1Container {
    
  }

  .game1Button {
    width: 7rem;
    height: 7rem;
  }
  
}

@media (min-height: 1050px) {
  .game1Button {
    width: 7rem;
    height: 7rem;
  }
}