#game3 {
    max-height: 100vh;
    max-height: 100dvh;
    max-width: 100vw;
    max-width: 100dvw;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: rgb(255, 255, 255);
  }
  
  .dark #game3 {
    background-color: #242424;
  }
  
  #g3_title {
    z-index: 1100;
  }
  
  #game3Container {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  
  #introTextG3 {
    margin: 0;
    align-items: center;
    align-self: center;
    width: 90%;
  }

 #introTextG3.clicked {
    animation: fadeOut 1s ease-in-out 1s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Gun spin */
  
  /* @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(var(--rotation));
    }
  } */
  
  /* .spinning {
    animation: spin 2s ease-in-out forwards;
  } */
  
  /* Intro revolver cylinder */
  #revBottle {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    cursor: pointer;
  }
  
  .dark #revBottle {
    filter: invert(1);
  }



  /* @media screen and (min-width: 768px) {
    #revBottle {
        width: 30rem;
        height: 30rem;
    }
  } */