#root {
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

body {
  margin: 0;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title h1 {
  margin: 0;
  font-size: 5rem;
}

.title h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 27rem;
  margin: 0 auto;
  gap: 1rem;
}

.container h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

button {
  width: 100%;
}

.game {
  position: absolute; /* This makes the element overlap the entire page */
  top: 0;   /* Aligns to the top of the screen */
  left: 0;  /* Aligns to the left of the screen */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  z-index: 1000; /* Optional: Makes sure it overlaps other elements */
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #242424;
}